.inputWithButtonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 25rem;
  max-width: 90vw;
  margin: 0.3rem;
  label {
    button {
      background-color: cornflowerblue;
      color: white;
      border: none;
      border-radius: 0 0.3rem 0.3rem 0;
      cursor: pointer;
      padding: 0.3rem;
      width: 100%;
      font-size: 1.2rem;
      &:hover {
        background-color: darkblue;
        font-weight: 700;
      }
    }
  }
  input {
    font-size: 1.2rem;
    text-align: center;
    border-radius: 0.3rem 0 0 0.3rem;
    border: none;
    border-right: 1px solid black;
  }
}
