.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0.2rem 0.2rem 0.2rem 10rem;
  color: white;
  background: linear-gradient(to right, #484848, #705ed9 50%, #705ed9);
  cursor: pointer;
  .tooltip {
    position: absolute;
    visibility: hidden;
    bottom: 2rem;
    right: 2rem;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 1rem
  }
  &:hover {
    .tooltip {
      visibility: visible;
    }
  }
}
