.synonymListWrapper {
  h2 {
    text-align: center;
    .selectedWord {
      color: darkslateblue;
    }
  }
  .synonymList {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    font-size: 1.3rem;
    max-width: 90vw;
  }
}
